@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

#left {
    background-color: #fff;
}

#city{
    font-size: 1.5em;
    text-align: center;
}

#degree {
    font-size: 4em;
    font-weight: 500;
}

#day-time {
    font-size: 2em;
    font-weight: 500;
}

#right {
    background-color: #FDE6D8;
}

.today-week {
    font-size: 1.25em;
    font-weight: 600;
    color: #817F82;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.today-week:hover {
    color: #141115;
}

/* Add the line for hover effect */
.today-week::after {
    content: "";
    position: absolute;
    left: 0;
    /* Adjust the position of the line */
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #141115; 
    transform-origin: bottom right;
    /* Initially set to 0 width */
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.today-week:hover::after {
    transform-origin: bottom left;
    /* Expand the line on hover */
    transform: scaleX(1);
}

.today-week.active {
    color: #141115; /* Change color for active link */
}

.today-week.active::after {
    transform-origin: bottom left;
    transform: scaleX(1); /* Expand the line for active link */
}

.cel-feh {
    background-color: #fff;
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    color: #141115;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cel-feh:hover, .cel-feh.active {
    background-color: #141115;
    color: white;
}

.weather-cards {
    background-color: #fff;
    flex: 1 0 auto;
    margin: 0.25rem;
    padding: 0.5rem;
}

.card-day {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.card-img {
    width: 2rem;
    display: block;
    margin: 0 auto;
}

.card-weather {
    text-align: center;
    margin-top: 0.25rem;
    font-size: 1.1rem;
    word-break: break-word;
}

.navbar-divs {
    display: flex;
}

.todays-highlights {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 500;
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.highlight-cards {
    background-color: #fff;
    width: 200px;
    height: 140px;
    margin: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
}

.highlight-name {
    color: #817F82;
    font-weight: 500;
    margin-top: 8px;
    font-size: 20px;
}

.highlight-value {
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
}

#smaller-highlight-name {
    font-size: 13px;
}