@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

#left {
    background-color: #fff;
}

#right {
    background-color: #FDE6D8;
    padding: 0 1%;
}

#city{
    font-size: 1.5em;
    text-align: center;
}

#degree {
    font-size: 4em;
    font-weight: 500;
}

#day-time {
    font-size: 2em;
    font-weight: 500;
}

.small-weather-images {
    width: 10%;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* Add padding for spacing */
    padding: 8px;
}

.today-week {
    margin-left: 16px;
    color: #817F82;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.today-week:hover {
    color: #141115;
}

/* Add the line for hover effect */
.today-week::after {
    content: "";
    position: absolute;
    left: 0;
    /* Adjust the position of the line */
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #141115; 
    transform-origin: bottom right;
    /* Initially set to 0 width */
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.today-week:hover::after {
    transform-origin: bottom left;
    /* Expand the line on hover */
    transform: scaleX(1);
}

.today-week.active {
    color: #141115; /* Change color for active link */
}

.today-week.active::after {
    transform-origin: bottom left;
    transform: scaleX(1); /* Expand the line for active link */
}

.cel-feh {
    margin-right: 16px;
    background-color: #fff;
    position: relative;
    /*to apply width and height */
    display: inline-block;
    width: 40px;
    height: 40px;
    /* Create a perfect circle using border-radius */
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #141115;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cel-feh:hover {
    background-color: #141115;
    color: white;
}

.cel-feh.active {
    background-color: #141115;
    color: white;
    /* Add any additional styles for the active state */
}

.weather {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin: 24px 0;
}

.weather-cards {
    background-color: #fff;
    display:flex;
    border: none;
    border-radius: 24px;
    width: 10%;
    height: 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-day {
    font-weight: 500;
}

.card-img {
    width: 40px;
}

.navbar-divs {
    display: flex;
}

.todays-highlights {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 500;
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.highlight-cards {
    background-color: #fff;
    width: 200px;
    height: 140px;
    margin: 16px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
}

.highlight-name {
    color: #817F82;
    font-weight: 500;
    margin-top: 8px;
    font-size: 20px;
}

.highlight-value {
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
}

#smaller-highlight-name {
    font-size: 13px;
}